{% extends 'base.html' %}

{% block style_content %}
{% endblock %}

{% block title_content %} Account Required {% endblock %}

{% block body %} class='page' {% endblock %}

{% block header %} class='header-body' {%  endblock %}
{% block header_content %}
<button type='button' class='header' onclick='location.href= "{{url_for('register')}}"'>
  Register
</button>
<button type="button" class='header' onclick='location.href= "{{url_for('index')}}"'>
  Home
</button>
<button type="button" class='header' onclick='location.href= "{{url_for('login')}}"'>
  Log In
</button>
{% endblock %}
{% block body_content %}
<h1 class='topBanner'>Account Required For This Page</h1>
{% endblock %}
{% block script_content %}
{% endblock %}

